/* index.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a0331;
}

.bigCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bigCounter > div {
    margin: 0 10px;
    font-size: 100px;
    text-align: center;
}

